{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facturier</title>
    <link href="{% sass_src 'style.scss' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Facturier</h1>
        <div class="container">
            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url 'proposal-list' %}">Proposal list</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="#">Welcome, {{request.user.username}}</a></li>
                    <li><a href="{% url 'account_logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}">Log In</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <footer>
    </footer>

<script src="{% static 'external/jquery/dist/jquery.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>
